body {
	background-color: #FFE0F0;
}

h1 {
	background-color: #bd374d;
	font-size: 30px;
	color: white;
	padding: 5px;
}

h2 {
	background-color: #bd374d;
	font-size: 25px;
	color: white;
	padding: 5px;
	text-align:center;
}

h3 {
	background-color: #bd374d;
	font-size: 20px;
	color: white;
	padding: 5px;
}

.box {
	width:160px;
	height:90px;
	margin-top: 15px;
	margin-right: 5px;
	margin-left:5px;
	margin-bottom:15px;
	border:5px solid #E88A8A;
}

.box1 {
	float:left;
	width: 120px;
}

.box2 {
	float:left;
	width:160px;
}

.titulo {
	padding-top:130px; /*border + margin + height*/
	/*text-align:center;*/
}

#total {
	width: 1080px; /*960 px*/
	height: auto;
	margin: auto;
	padding: 10px;
	background-color: white;
	display: table;
}

#topo {
	width: 100%;
	height: 200px;
	background-color: #bd374d;
	/*#FF85D6*/
	float: left;
}

#logo {
	width: 182px;
	height: 182px;
	margin: 9px auto;
}

#banner {
	width: 100%;
	height: 250px;
	background-color: #FFE0F0;
	/*#FFE0F0*/
	/*background-image: url(img/banner.jpg);*/
	float: left;
}

#menu {
	float: left;
	width: 200px;
	height: 250px;
	/*padding-top: 35px;*/
	background-color: #E88A8A;
}

#menu a {
	font-family: "Trebuchet ms", tahoma;
	display: block;
	text-decoration: none;
	font-size: 25px;
	color: white;
	margin-left: -25px;
	margin-top: 35px;
	padding-bottom: 5px; /*distancia de altura de uma palavra a outra*/
}

#conteudo {
	width: 100%;
	min-height: 2000px;
	/*float: left;*/
	/*margin-top: 10px;*/
	text-align: center;
	background-color: #FFE0F0;
}